include bin/*
include README.md
include LICENSE
include requirements.txt
recursive-include c *
recursive-include depccg *.pyx *.pxd *.h
exclude c/*.d
exclude c/*.o
exclude depccg/*.so
exclude depccg/*.cpp
exclude tests/*
